services:
  postgres:
    image: postgres:15-alpine
    container_name: car-rental-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: car_rental_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: