spring:
  application:
    name: car-rental-service

  datasource:
    url: jdbc:postgresql://localhost:5432/car_rental_db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: validate

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml

jwt:
  secret: ${JWT_SECRET}
  accessTokenExpirationMs: 60000
  refreshTokenExpirationMs: 86400000